doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        block head
            title Проект

    body(style="background-color: #FFFFFF; height: 100vh; overflow-y: visible; overscroll-behavior-y: none")
        app
