<template lang="pug">
    div(id="app")
        img(src="@/assets/logo.svg" @click="$router.push('/')")
        router-view.w-100
</template>

<script>
    export default {
        name: 'App'
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        padding-top: 60px;
    }
</style>
