<template lang="pug">
    div
        h1 Hello world!
        router-link(to="/new") Перейти куда-то
</template>

<script>
    export default {
        name: 'Index'
    };
</script>

<style scoped>

</style>