<template lang="pug">
    div
        .show-container(v-for="(iteration, index) in iterations" :key="iteration._id")
            div {{ iteration.iterationName }}
            .ml-2 {{ iteration.iterationCount }}
            button.btn(@click="incrementIteration(iteration)") Увеличить
            .remove(@click="removeIteration(index)")

        .create-container
            input(v-model="name")
            button.btn(@click="createIteration" :disabled="!name") Создать
</template>

<script>
    import api from '@/api';

    export default {
        name: 'New',

        data() {
            return {
                iterations: [],
                name: ''
            };
        },

        async created() {
            let response = await api.get('/app/something/allIterations');

            if (response && response.data) {
                this.iterations = response.data;
            }
        },

        methods: {
            async createIteration() {
                let response = await api.post('/app/something/createIteration', { name: this.name });

                if (response && response.data) {
                    this.iterations.push(response.data);
                    this.name = '';
                }
            },

            async incrementIteration(iteration) {
                await api.get(`/app/something/${iteration._id}/increment`);

                ++iteration.iterationCount;
            },

            async removeIteration(index) {
                await api.get(`/app/something/${this.iterations[index]._id}/remove`);

                this.iterations.splice(index, 1);
            }
        }
    };
</script>

<style scoped>
    .create-container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 0.5rem;
    }

    .show-container {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 0.5rem;
    }

    .btn {
        width: 10rem;
        background-color: white;
        border: 1px solid #BDBDBD;
        transition: background-color 0.3s ease-out;
        border-radius: 10px;
        margin-left: 0.5rem;
        outline: none;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn:hover {
        background-color: #BAB9B9;
    }

    input {
        height: 30px;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        padding: 5px;
        outline: none;
    }

    .remove {
        width: 1em;
        height: 1em;
        background-color: #BDBDBD;
        margin-left: 0.5rem;
        transition: background-color 0.15s ease-out;
        cursor: pointer;
        clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    }

    .remove:hover {
        background-color: red;
    }
</style>